<div class="card">
  <figure class="moviecard mb-0">

    <img src="https://image.tmdb.org/t/p/w500/{{getmoviedata.backdrop_path||getmoviedata.poster_path}}"
      [title]="getmoviedata.title|| getmoviedata.original_title"
      [alt]="getmoviedata.title || getmoviedata.original_title">

    <figcaption>

      <div class="titleInfo">
        <div class="row">

          <div class="col-10">
            <h4 class="m-0 movieTitle">
              {{ getmoviedata.title || getmoviedata.original_title }}
            </h4>
          </div>

          <div class="col-2">
            <span class="badge" [ngClass]="{
   'bg-success': getmoviedata.vote_average >= 7,
   'bg-warning': getmoviedata.vote_average >= 5 && getmoviedata.vote_average < 7,
   'bg-danger': getmoviedata.vote_average < 5
}">
              {{ getmoviedata.vote_average }}
            </span>
          </div>

        </div>
      </div>

      <div class="overview">
        <p class="mb-0">
          {{ getmoviedata.overview }}
        </p>
      </div>

    </figcaption>

  </figure>

</div>